<nav class="navbar navbar-expand-lg" style="background-color: #d9b7a5;">
  <div class="container">
    <a class="navbar-brand mx-auto text-center" style="font-size: 1.8rem; font-weight: bold; color: #a3573a;"
      routerLink="/">
      YourType
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">
            Cart <span class="badge bg-primary">{{ cartCount }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.isAuthenticated()" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isAuthenticated()"  routerLinkActive="active" (click)="logout()">LogOut</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>