<div class="login-container">
  <h2>Create Account ✨</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <input type="text" placeholder="Name" formControlName="name" />
    <input type="email" placeholder="Email" formControlName="email" />
    <input type="password" placeholder="Password" formControlName="password" />

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>

  <p class="switch">
    Already have an account? <a routerLink="/login">Login</a>
  </p>
</div>
