<div class="container mt-5" *ngIf="product; else notFound">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.image" class="img-fluid" alt="{{ product.title }}">
    </div>
    <div class="col-md-6">
      <h2 class="title">{{ product.title }}</h2>
      <p class="price">{{ product.price | currency:'EGP':'symbol' }}</p>
      <p>{{ product.description }}</p>

      <button class="btn btn-add" (click)="addToCart(product)">
        Add to Cart
      </button>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="text-center mt-5">
    Product not found.
  </div>
</ng-template>
